img {
    animation-name: rotate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal; 
    animation-duration: 1s;
    
}

@keyframes rotate {
        0% {
            transform: rotate(0);
        }
        
        100% {
            transform: rotate(360deg);
        }
}